<div class="container">
  <div class="sobre">
    <h2>Sobre</h2>
    <p>
      Sou desenvolvedor Frontend Jr apaixonado por tecnologia buscando sempre
      evoluir meu conhecimento.
    </p>
    <p>
      buscando me atualizar e aprender novas tecnologias para melhorar minhas
      habilidades e entregar o melhor resultado possível.
    </p>
    <p>
      Atualmente estou focando em me aprofundar no framework Angular e estou
      gostando bastante, é um framework robusto e bem padronizado assim consigo
      focar somente nas tecnologias que envolvem no framework em questão.
    </p>
    <p>
      Apesar de estar focando em Frontend também tenho conhecimentos em Backend
      com Node.js e banco de dados relacionais Mysql para criação de APIs.
    </p>
    <p>
      Formado em Análise e Desenvolvimento de Sistemas em 2015, trabalhei por 1
      ano e meio mais ou menos, atuando como front-end em uma agência de
      publicidade. Atualmente estou residindo no Japão, com planos de retornar
      ao Brasil e buscando oportunidades na área de tecnologia novamente.
    </p>
  </div>
</div>
