@use "../../../styles/variables" as *;
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  min-height: 100vh; // ocupa a altura total da tela
  padding: $marginContainer;
  margin-bottom: 100px;
}
.sobre {
  max-width: $maxWidthContainer;
  display: flex;
  flex-direction: column;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: $gray-dark;
}
