<div class="container">
  <div class="projetos-pessoais">
    <h2>Projetos de Estudo</h2>
    <p>
      Aqui estão alguns projetos que desenvolvi como parte do meu aprendizado em
      pontos específicos.
    </p>

    <div class="projetos">
      <h3>Lista de tarefas</h3>
      <p>Estudo feito focando o estudo em componentes e data-binds</p>
      <div class="print">
        <!-- <img
          src="../../../../public/print-tasks.png"
          alt="Print do projeto Lista de Tarefas"
        /> -->
      </div>
      <div class="botao">
        <app-botao
          link="https://github.com/leandronakamashi/tasks-angular"
          btName="GitHub"
        ></app-botao>
        <app-botao
          link="https://tasks-angular-liart.vercel.app/"
          btName="Live"
        ></app-botao>
      </div>
    </div>
    <div class="projetos">
      <h3>Kanban simples</h3>
      <p>
        Estudo feito focando o estudo em componentes, data-binds e drag-and-drop
      </p>
      <div class="botao">
        <app-botao
          link="https://github.com/leandronakamashi/kambanProject"
          btName="GitHub"
        ></app-botao>
        <app-botao
          link="https://kamban-project.vercel.app/"
          btName="Live"
        ></app-botao>
      </div>
    </div>
    <div class="projetos">
      <h3>Spotify</h3>
      <p>
        Estudo feito focando o estudo em componentes, data-binds e integração
        com API.
      </p>
      <div class="botao">
        <app-botao
          link="https://github.com/leandronakamashi/spotifyAngular"
          btName="GitHub"
        ></app-botao>
        <app-botao
          link="https://spotify-angular-omega.vercel.app/"
          btName="Live"
        ></app-botao>
      </div>
    </div>
  </div>
  <div class="projetos-pessoais">
    <h2>Projetos Pessoais</h2>
    <p>
      Estes são projetos pessoais que desenvolvi para estudo, explorando o que
      venho aprendendo nos estudos e nos projetos em si.
    </p>
    <div class="projetos">
      <h3>Portfolio</h3>
      <p>
        Este é o meu portfólio, desenvolvido com Angular, onde apresento meus
        projetos e habilidades.
      </p>
    </div>
  </div>
</div>
