@import "../../../styles/variables";

.container {
  background-color: rgba($gray, 0.9);
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  height: 50px;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 24px;
}
.icon {
  span {
    font-size: 24px;
    color: $white;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: rgba($gray, 0.7);
    }
  }
}
