<div class="container">
  <div class="menu">
    <div class="icon" (click)="onSobreClick()">
      <span class="material-symbols-outlined" title="Sobre">face</span>
    </div>
    <div class="icon" (click)="onTecnologiasClick()">
      <span class="material-symbols-outlined" title="Tecnologias">code</span>
    </div>
    <div class="icon" (click)="onProjetosClick()">
      <span class="material-symbols-outlined" title="Projetos"
        >folder_code</span
      >
    </div>
    <div class="icon">
      <span
        class="material-symbols-outlined"
        (click)="onContatoClick()"
        title="Contato"
        >mail</span
      >
    </div>
  </div>
</div>
